.tabel-container {
  display: flex;
  border: 1px solid #d7dfe9;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 0;
  gap: 120px;
  padding-left: 10px;
}

.table-items {
  color: #334155;
  font-weight: 500;
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.delete-btn {
  background-color: transparent;
  border: none;
}

.dlt-img {
  height: 20px;
}
